<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter OTP Code</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <h1 class="">Documentation</h1>
        <div class="col-md-12 row mt-5">
            <section class="pt-2 col-md-12 docSec">
                <h3>Register</h3>
                <div class="doc1st">
                    <p><strong>Route</strong>: http://localhost:3000/register</p>
                    <div class="doc2nd">
                        <p><strong>Method</strong>: POST</p>
                    </div>
                </div>
            </section>
            <section class="pt-2 col-md-12 docSec">
                <h3>Login</h3>
                <div class="doc1st">
                    <p><strong>Route</strong>: http://localhost:3000/login</p>
                    <div class="doc2nd">
                        <p><strong>Method</strong>: POST</p>
                    </div>
                </div>
            </section>
            <section class="pt-2 col-md-12 docSec">
                <h3>Transfers</h3>
                <div class="doc1st">
                    <p><strong>Route</strong>: http://localhost:3000/accounts/transfers</p>
                    <div class="doc2nd">
                        <p><strong>Method</strong>: POST</p>
                    </div>

                </div>
            </section>
            <section class="pt-2 col-md-12 docSec">
                <h3>Deposits</h3>
                <div class="doc1st">
                    <p><strong>Route</strong>: http://localhost:3000/accounts/deposits</p>
                    <div class="doc2nd">
                        <p><strong>Method</strong>: POST</p>
                    </div>
                </div>
            </section>
            <section class="pt-2 col-md-12 docSec">
                <h3>Cards</h3>
                <div class="doc1st">
                    <p><strong>Route</strong>: http://localhost:3000/cards</p>
                    <div class="doc2nd">
                        <p><strong>Method</strong>: POST</p>
                    </div>
                </div>
            </section>
            <section class="pt-2 col-md-12 docSec">
                <h3>Balance</h3>
                <div class="doc1st">
                    <p><strong>Route</strong>: http://localhost:3000/accounts/balance</p>
                    <div class="doc2nd">
                        <p><strong>Method</strong>: POST</p>
                    </div>
                </div>
            </section>
            <section class="pt-2 col-md-12 docSec">
                <h3>Create market items</h3>
                <div class="doc1st">
                    <p><strong>Route</strong>: http://localhost:3000/createitem</p>
                    <div class="doc2nd">
                        <p><strong>Method</strong>: POST</p>
                    </div>
                </div>
            </section>
            <section class="pt-2 col-md-12 docSec">
                <h3>Shop</h3>
                <div class="doc1st">
                    <p><strong>Route</strong>: http://localhost:3000/shop</p>
                    <div class="doc2nd">
                        <p><strong>Method</strong>: POST</p>
                    </div>
                </div>
            </section>
        </div>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>