<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <!-- <h1 class="text-center">OTP</h1> -->
    <div class="col-md-12 row mt-5">
        <h3 class="text-center pt-2"><%= message %>.</h3>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>